@define-color bg #1e1e2e;
@define-color surface #313244;
@define-color hover #45475a;

@define-color border #585b70;
@define-color border-hover #7f849c;

@define-color text #cdd6f4;
@define-color text-dim #a6adc8;

@define-color accent #89b4fa;
@define-color accent-subtle #89b4fa;
@define-color accent-hover #74a8f9;

@define-color primary #f38ba8;
@define-color secondary #a6e3a1;
@define-color tertiary #89dceb;

@define-color success #a6e3a1;
@define-color warning #f9e2af;
@define-color critical #f38ba8;
