@define-color bg #1a1b26;
@define-color surface #24283b;
@define-color hover #343b58;

@define-color border #414868;
@define-color border-hover #7383a5;

@define-color text #c0caf5;
@define-color text-dim #9aa5ce;

@define-color accent #7aa2f7;
@define-color accent-subtle #7aa2f7;
@define-color accent-hover #668ee6;

@define-color primary #f7768e;
@define-color secondary #9ece6a;
@define-color tertiary #7dcfff;

@define-color success #9ece6a;
@define-color warning #e0af68;
@define-color critical #f7768e;
