* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 23px;
  font-weight: bold;
  box-shadow: none;
}

window {
  background-color: rgba(30, 30, 46, 0.98);
  color: #cdd6f4;
  border: 1px solid #89b4fa;
  border-radius: 12px;
  padding: 6px;
}

button {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
  background-color: #313244;
  color: #cdd6f4;
  opacity: 0.9;
  margin: 8px;
  border: none;
  border-radius: 8px;
  padding: 10px;
  transition: 0.2s ease-in-out all;
}

button:focus {
  background-color: #313244;
  color: #89b4fa;
  border-radius: 8px;
  box-shadow: 0 0 15px #89b4fa;
}

button:hover {
  background-size: 24%;
  background-color: #313244;
  color: #89b4fa;
  border-radius: 8px;
  box-shadow: 0 0 15px #89b4fa;
}

/* 
----------------------------------------------------- 
Buttons
----------------------------------------------------- 
*/
#lock {
  background-image: image(url("icons/lock.png"));
}

#shutdown {
  background-image: image(url("icons/shutdown.png"));
}

#reboot {
  background-image: image(url("icons/reboot.png"));
}

#suspend {
  background-image: image(url("icons/suspend.png"));
}

#logout {
  background-image: image(url("icons/logout.png"));
}

#hibernate {
  background-image: image(url("icons/hibernate.png"));
}
