@import "~/.config/rofi/config.rasi" 
entry {
  placeholder: "📋 Search Clipboard ** CTRL Del - del or Alt Del - wipe";
}

window {
    width: 45%;
    height: 0;
}


listview {
  columns: 3;
  lines: 7;
}

